@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg, #385BD7  , #8905F2 );
  }
.container{
  max-width: 700px;
  width: 100%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);

}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
  }
  .container .title::before{
    content: "";
    position: absolute;
    left: 1;
    bottom: 0;
    height: 3px;
    width: 20px;
    border-radius: 5px;
    background: linear-gradient(135deg, #FF0000, #9b59b6); 
  }
  .content form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
  }
  form .input-box span.details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
  }
  form .select-box span.details{
    display: block;
    font-weight: 300;
    margin-bottom: 1px;
  }
  .select-box .input-box input .radio-container .radio-level-container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0 1px 0;
    width: 20%;
  }
  .user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }
  .user-details .input-box input:focus,
  .user-details .input-box input:valid{
    border-color: #9b59b6;
  }

  input[type="radio"]{
    display: none;
  }
  label {
    color: #002BFF ;
    border: 2px solid #002BFF ;
    border-radius: 5px;
    padding: 10px 10px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
label:before {
  content:"";
  height: 30px;
  width: 30px;
  border: 3px solid #002BFF ;
  border-radius: 50%;
  margin-right: 20px;
}
input[type="radio"]:checked + label{
  background-color: #002BFF;
  color: white;

}
input[type="radio"]:checked + label:before{
  height: 16px;
  width: 16px;
  border: 10px solid white;
  background-color: #002BFF;
}
.about-box{
  position: relative;
text-align: center;
}
